In [32]:
python -m apache_beam.examples.wordcount --output outputs

SyntaxError: invalid syntax (<ipython-input-32-f925731930b6>, line 1)

In [31]:
r = Row(
    ('f2c04e14b917f7c8c6be50d420acdf0509ce03f956dfffed476122a5ec6720f6a7165aaecc009ed3d179f3eec58fb84cb6c9030dfe32f8569f9bd58afe79be5f', 
     18.5, 
     4320
    ), 
    {'taxi_id': 0, 'trip_miles': 1, 'trip_seconds': 2}
)

NameError: name 'Row' is not defined

In [2]:
t = (('f2c04e14b917f7c8c6be50d420acdf0509ce03f956dfffed476122a5ec6720f6a7165aaecc009ed3d179f3eec58fb84cb6c9030dfe32f8569f9bd58afe79be5f', 18.5, 4320), {'taxi_id': 0, 'trip_miles': 1, 'trip_seconds': 2})

In [30]:
type(t[1])

dict

In [6]:
for x in t:
    print(x)

('f2c04e14b917f7c8c6be50d420acdf0509ce03f956dfffed476122a5ec6720f6a7165aaecc009ed3d179f3eec58fb84cb6c9030dfe32f8569f9bd58afe79be5f', 18.5, 4320)
{'taxi_id': 0, 'trip_miles': 1, 'trip_seconds': 2}

In [13]:
type(t[1]) # is dict
#['taxi_id']

dict

In [24]:
t = (('f2c04e14b917f7c8c6be50d420acdf0509ce03f956dfffed476122a5ec6720f6a7165aaecc009ed3d179f3eec58fb84cb6c9030dfe32f8569f9bd58afe79be5f', 18.5, 4320), {'taxi_id': 0, 'trip_miles': 1, 'trip_seconds': 2})
t[1]['trip_miles']

1

In [18]:
for y in t[1]:
    print(y)

taxi_id
trip_miles
trip_seconds

In [25]:
d = t[1]

In [27]:
d['trip_seconds']

2