In [1]:
from py_modules import gcs_helper

# V = Validation folder
gcsV = gcs_helper.gcsh('devandtest')

In [ ]:
# Sales Verification
#============================================================================

In [5]:
bkt = 'airtyx_reports-dev'
fld = 'templates/validation'
pfx = 'SalesVerification-'
cust = '33' # credit-suisse
sfx  = '6'

veri_s = f'{fld}/{pfx}{cust}-{sfx}.csv'
veri_o = gcsV.file_get(bkt, veri_s, False)

In [42]:
veri_print_len = 10000
print(veri_o.decode('utf-8')[:veri_print_len])

Description

"CSV First 48 columns contain Metrics: ['GRY', 'NRY', 'RPY', 'YYO'] for Airlines: ['99'] across Regions: ['EUEU'] with Booking Period(s): ['ALL', 'WEK'] for Delivery period(s): ['Q025', 'Q026', 'Q027', 'Q028', 'Q029', 'Q030']"

"CSV Next 4 columns contain Metrics: ['GRY', 'NRY', 'RPY', 'YYO'] for Airlines: ['99'] across Regions: ['EUEU'] with Booking Period(s): ['WEK'] for Delivery period(s): ['ALLD']"

"CSV Next 144 columns contain Metrics: ['GRY', 'NRY', 'RPY', 'YYO'] for Airlines: ['AF', 'BA', 'LH'] across Regions: ['WWWW'] with Booking Period(s): ['ALL', 'WEK'] for Delivery period(s): ['Q025', 'Q026', 'Q027', 'Q028', 'Q029', 'Q030']"

"CSV Next 12 columns contain Metrics: ['GRY', 'NRY', 'RPY', 'YYO'] for Airlines: ['AF', 'BA', 'LH'] across Regions: ['WWWW'] with Booking Period(s): ['WEK'] for Delivery period(s): ['ALLD']"

"CSV Next 1008 columns contain Metrics: ['GRY', 'NRY', 'RPY', 'YYO'] for Airlines: ['AF', 'BA', 'LH'] across Regions: ['AFEU', 'ASEU', 'CIEU', 'EUEU', 'EULA', 'EUME', 'EUNA'] with Booking Period(s): ['ALL', 'WEK'] for Delivery period(s): ['Q025', 'Q026', 'Q027', 'Q028', 'Q029', 'Q030']"

"CSV Next 84 columns contain Metrics: ['GRY', 'NRY', 'RPY', 'YYO'] for Airlines: ['AF', 'BA', 'LH'] across Regions: ['AFEU', 'ASEU', 'CIEU', 'EUEU', 'EULA', 'EUME', 'EUNA'] with Booking Period(s): ['WEK'] for Delivery period(s): ['ALLD']"

In [ ]:
# Column Counts/Lengths
#============================================================================

In [30]:
pfx = 'pcodeLengths-'

len_s = f'{fld}/{pfx}{cust}-{sfx}.csv'
print(len_s)
len_o = gcsV.file_get(bkt, len_s, False)

templates/validation/pcodeLengths-33-6.csv

In [41]:
len_l = len_o.decode('utf-8').split('\n')[1:-1]
print(len_l)
len_l_i = [int(i) for i in len_l]
print(sum(len_l_i))

['48', '4', '144', '12', '1008', '84']
1300

In [45]:
l = list[('GRY', 'NRY', 'RPY', 'YYO')]

TypeError: 'type' object is not subscriptable

In [20]:
import pandas as pd
from io import StringIO

In [18]:
fld = 'Credit Suisse'
dte = '2020-10-12-'

pivot_s = f'{fld}/{dte}{cust}-{sfx}.csv'
print(pivot_s)
pivot_o = gcsV.file_get(bkt, pivot_s, False)

Credit Suisse/2020-10-12-33-6.csv

In [22]:
data = StringIO(pivot_o.decode())

# don't think can be split from StringIO action above - once only stream?
df_csv = pd.read_csv(data, nrows=2000, header = [5,6])

In [34]:
print(len(df_csv.columns))

1301

In [46]:
df_csv.head()

,Product Code,99EUEUALLQ025YYO,99EUEUALLQ025RPY,99EUEUALLQ025GRY,99EUEUALLQ025NRY,99EUEUALLQ026YYO,99EUEUALLQ026RPY,99EUEUALLQ026GRY,99EUEUALLQ026NRY,99EUEUALLQ027YYO,...,LHEULAWEKALLDGRY,LHEULAWEKALLDNRY,LHEUMEWEKALLDYYO,LHEUMEWEKALLDRPY,LHEUMEWEKALLDGRY,LHEUMEWEKALLDNRY,LHEUNAWEKALLDYYO,LHEUNAWEKALLDRPY,LHEUNAWEKALLDGRY,LHEUNAWEKALLDNRY
,Product Date,Yield (USD) - cumulative average to date - % change YoY,Cumulative volume sold (RPK) - % change YoY,Cumulative Gross revenue (USD) - % change YoY,Cumulative Net revenue (USD) - % change YoY,Yield (USD) - cumulative average to date - % change YoY,Cumulative volume sold (RPK) - % change YoY,Cumulative Gross revenue (USD) - % change YoY,Cumulative Net revenue (USD) - % change YoY,Yield (USD) - cumulative average to date - % change YoY,...,Cumulative Gross revenue (USD) - % change YoY,Cumulative Net revenue (USD) - % change YoY,Yield (USD) - cumulative average to date - % change YoY,Cumulative volume sold (RPK) - % change YoY,Cumulative Gross revenue (USD) - % change YoY,Cumulative Net revenue (USD) - % change YoY,Yield (USD) - cumulative average to date - % change YoY,Cumulative volume sold (RPK) - % change YoY,Cumulative Gross revenue (USD) - % change YoY,Cumulative Net revenue (USD) - % change YoY
0,2019-01-01,0.023003,0.845251,0.887697,0.879091,-0.077082,0.477766,0.363857,0.363350,-0.102045,...,-0.160626,-0.143929,-0.092661,-0.300951,-0.365726,-0.352215,-0.152192,0.157656,-0.018529,-0.007319
1,2019-01-02,0.021814,0.814101,0.853674,0.845467,-0.081504,0.457029,0.338276,0.338180,-0.107096,...,-0.192933,-0.191175,-0.109059,-0.271714,-0.351140,-0.345912,-0.163060,0.122015,-0.060940,-0.059330
2,2019-01-03,0.021387,0.778671,0.816711,0.808692,-0.085040,0.429539,0.307970,0.307803,-0.114213,...,-0.188132,-0.187713,-0.083057,-0.285391,-0.344744,-0.345218,-0.164657,0.076179,-0.101022,-0.104774
3,2019-01-04,0.019121,0.743086,0.776415,0.768478,-0.087689,0.404223,0.281088,0.280637,-0.120148,...,-0.127384,-0.125855,-0.086662,-0.291584,-0.352977,-0.359618,-0.107811,0.033049,-0.078325,-0.081810
4,2019-01-05,0.017270,0.708763,0.738274,0.730901,-0.089915,0.382371,0.258075,0.258243,-0.129154,...,-0.172133,-0.178407,-0.079420,-0.336082,-0.388810,-0.397762,-0.097087,0.000997,-0.096186,-0.097697

In [ ]:
from py_modules import bq_helper

bqh = bq_helper.bqh('devandtest')

In [ ]:
# prj_ds = 'skytra-benchmark-rnd.products_m'
prj_ds = 'skytra-benchmark-devandtest.scratch_PaD'

In [ ]:
"""
No sa permissions to RnD so need to copy to DevTest/other to both a) not save credentials in Jupyter Lab b) use sa credentials/Jupyter

bq cp skytra-benchmark-rnd:products_IN1139.P001_Revenue_per_region_pair skytra-benchmark-devandtest:scratch_PaD.P001_Revenue_per_region_pair
"""

In [ ]:
Ptbl = 'P0001'
Vtbl = f'vw_{Ptbl}_Pivot'

sql01_fin = f"""
SELECT dt_of_issue, sum(yoy_rpk_7day) as yoy_rpk_7day
FROM {prj_ds}.P001_Revenue_per_region_pair 
WHERE dt_of_issue >= '2019-01-01' and dt_of_issue <= '2019-12-31' AND region_pair IN ('North America-North America') 
GROUP BY 1
ORDER BY 1
"""


sql = sql01_fin
csv_cols = ['Product Code', '99NANAWEKALLDRPY']


# having manually derived _fin(al) sql from automatically downloaded validation sql
#  run the qry against the active GoogleSDK project
df01 = bqh.run_qry(sql)
# df01.head()

# get the equivalent column(s) from the CSV file
df_csv_sub01 = df_csv[csv_cols]
df_csv_sub01.columns = df_csv_sub01.columns.droplevel()
# df_csv_sub01.head()

# merge and visually compare prior to auto-compare
# https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html
dfm = pd.merge(df01, df_csv_sub01, how = 'outer', left_index = True, right_index = True)
dfm['Var'] = dfm.iloc[:,1].astype(float) - dfm.iloc[:,3]
dfm['Equal'] = dfm.iloc[:,1].astype(float).eq(dfm.iloc[:,3])

In [ ]:
Ptbl = 'P0001'
print(sql + f'\n **P table {Ptbl}** sql to compare to Airtyx CSV columns... \n')
print(csv_cols)

print('\n **START VARIANCES *************** \n *********************************')
    # dfm[~dfm['Equal']==False & dfm['VAR'].abs() > .001].head(1000)
    # TypeError: Cannot perform 'rand_' with a dtyped [float64] array and scalar of type [bool]
print(dfm[dfm['Var'].abs() > .00001])
print('\n **END VARIANCES ***************** \n *********************************')

print('\n BASIC STATS \n')
print( 'dt_of_issue.min() = ' + str(dfm.dt_of_issue.min()) )
print( 'dt_of_issue.max() = ' + str(dfm.dt_of_issue.max()) )
print(dfm.count())
print('\n DATAFRAME SUMMARY \n')
display(dfm)

In [ ]:

sql02_fin = f"""
SELECT dt_of_issue, sum(yoy_revenue) as yoy_revenue
FROM {prj_ds}.P002_Revenue_yield_per_region_pair_airline 
WHERE dt_of_issue >= '2019-01-01' and dt_of_issue <= '2019-12-31' AND flight_op_carrier IN ('B6') AND region_pair IN ('Latin America-North America')
GROUP BY 1
ORDER BY 1
"""

Ptbl = 'P0002'
sql = sql02_fin
csv_cols = ['Product Code', 'B6LANAALLALLDGRY']


# having manually derived _fin(al) sql from automatically downloaded validation sql
#  run the qry against the active GoogleSDK project
df02 = bqh.run_qry(sql)
# df02.head()

# get the equivalent column(s) from the CSV file
df_csv_sub02 = df_csv[csv_cols]
df_csv_sub02.columns = df_csv_sub02.columns.droplevel()
# df_csv_sub02.head()

# merge and visually compare prior to auto-compare
# https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html
dfm = pd.merge(df02, df_csv_sub02, how = 'outer', left_index = True, right_index = True)
dfm['Var'] = dfm.iloc[:,1].astype(float) - dfm.iloc[:,3]
dfm['Equal'] = dfm.iloc[:,1].astype(float).eq(dfm.iloc[:,3])

In [ ]:
Ptbl = 'P0002'
print(sql + f'\n **P table {Ptbl}** sql to compare to Airtyx CSV columns... \n')
print(csv_cols)

print('\n **START VARIANCES *************** \n *********************************')

print(dfm[dfm['Var'].abs() > .00001])
print('\n **END VARIANCES ***************** \n *********************************')

print('\n BASIC STATS \n')
print( 'dt_of_issue.min() = ' + str(dfm.dt_of_issue.min()) )
print( 'dt_of_issue.max() = ' + str(dfm.dt_of_issue.max()) )
print(dfm.count())
print('\n DATAFRAME SUMMARY \n')
print(dfm)

In [ ]:

sql19_fin = f"""
SELECT dt_of_issue, sum(cumulative_yoy_revenue) as cumulative_yoy_revenue 
FROM {prj_ds}.P019_S_curve_months_per_airline 
WHERE dt_of_issue >= '2019-01-01' and dt_of_issue <= '2019-12-31' AND op_carrier IN ('UA') AND code_delivery IN ('M092')
GROUP BY 1
ORDER BY 1
"""

Ptbl = 'P0019'
sql = sql19_fin
csv_cols = ['Product Code', 'UAWWWWALLM092GRY']

#  run the qry against the active GoogleSDK project
df19 = bqh.run_qry(sql)
df19 = df19[df19.cumulative_yoy_revenue.notnull()]

# get the equivalent column(s) from the CSV file
df_csv_sub19 = df_csv[csv_cols]
df_csv_sub19.columns = df_csv_sub19.columns.droplevel()
df_csv_sub19.columns = ['product_date', df_csv_sub19.iloc[:,1].name]

# convert from object to datetime to allow merge by name - needed because cannot merge by index for Delivery Periods
df_csv_sub19.product_date = pd.to_datetime(df_csv_sub19.product_date)

# merge 
dfm = pd.merge(df19, df_csv_sub19, how='inner', on = None, left_on = 'dt_of_issue', right_on = 'product_date')
dfm['Var'] = dfm.iloc[:,1].astype(float) - dfm.iloc[:,3]
dfm['Equal'] = dfm.iloc[:,1].astype(float).eq(dfm.iloc[:,3])

In [ ]:
Ptbl = 'P0019'
print(sql + f'\n **P table {Ptbl}** sql to compare to Airtyx CSV columns... \n')
print(csv_cols)

print('\n **START VARIANCES *************** \n *********************************')

print(dfm[dfm['Var'].abs() > .00001])
print('\n **END VARIANCES ***************** \n *********************************')

print('\n BASIC STATS \n')
print( 'dt_of_issue.min() = ' + str(dfm.dt_of_issue.min()) )
print( 'dt_of_issue.max() = ' + str(dfm.dt_of_issue.max()) )
print(dfm.count())
print('\n DATAFRAME SUMMARY \n')
print(dfm)

In [ ]:
df20.head()

In [ ]:

sql20_fin = f"""
SELECT dt_of_issue, sum(yoy_yield_7day) as cumulative_yoy_yield_7day 
FROM {prj_ds}.P020_S_curve_months_per_airline_region 
WHERE dt_of_issue >= '2020-01-01' and dt_of_issue <= '2020-12-31' AND op_carrier IN ('B6') AND region_pair IN ('Middle East-North America') AND code_delivery IN ('M073')
GROUP BY 1
ORDER BY 1
"""

Ptbl = 'P0020'
sql = sql20_fin
csv_cols = ['Product Code', 'B6MENAWEKM073YYO']

#  run the qry against the active GoogleSDK project
df20 = bqh.run_qry(sql)
df20 = df20[df20.cumulative_yoy_revenue.notnull()]

# get the equivalent column(s) from the CSV file
df_csv_sub20 = df_csv[csv_cols]
df_csv_sub20.columns = df_csv_sub20.columns.droplevel()
df_csv_sub20.columns = ['product_date', df_csv_sub20.iloc[:,1].name]

# convert from object to datetime to allow merge by name - needed because cannot merge by index for Delivery Periods
df_csv_sub20.product_date = pd.to_datetime(df_csv_sub20.product_date)

# merge 
dfm = pd.merge(df20, df_csv_sub20, how='inner', on = None, left_on = 'dt_of_issue', right_on = 'product_date')
dfm['Var'] = dfm.iloc[:,1].astype(float) - dfm.iloc[:,3]
dfm['Equal'] = dfm.iloc[:,1].astype(float).eq(dfm.iloc[:,3])

In [ ]:
Ptbl = 'P0020'
print(sql + f'\n **P table {Ptbl}** sql to compare to Airtyx CSV columns... \n')
print(csv_cols)

print('\n **START VARIANCES *************** \n *********************************')

print(dfm[dfm['Var'].abs() > .00001])
print('\n **END VARIANCES ***************** \n *********************************')

print('\n BASIC STATS \n')
print( 'dt_of_issue.min() = ' + str(dfm.dt_of_issue.min()) )
print( 'dt_of_issue.max() = ' + str(dfm.dt_of_issue.max()) )
print(dfm.count())
print('\n DATAFRAME SUMMARY \n')
print(dfm)

In [ ]:

sql21_fin = f"""
SELECT dt_of_issue, sum(cumulative_yoy_yield) as cumulative_yoy_yield
FROM {prj_ds}.P021_S_curve_months_per_region 
WHERE dt_of_issue >= '2019-01-01' and dt_of_issue <= '2019-12-31' AND region_pair IN ('North America-North America') AND code_delivery IN ('M073') 
GROUP BY 1
ORDER BY 1
"""

Ptbl = 'P0021'
sql = sql21_fin
csv_cols = ['Product Code', '99NANAALLM073YYO']

#  run the qry against the active GoogleSDK project
df21 = bqh.run_qry(sql)
df21 = df21[df21.iloc[:,1].notnull()]
df21.dt_of_issue = pd.to_datetime(df21.dt_of_issue)

# get the equivalent column(s) from the CSV file
df_csv_sub21 = df_csv[csv_cols]
df_csv_sub21.columns = df_csv_sub21.columns.droplevel()
df_csv_sub21.columns = ['product_date', df_csv_sub21.iloc[:,1].name]

# convert from object to datetime to allow merge by name - needed because cannot merge by index for Delivery Periods
# df_csv_sub21.product_date = pd.to_datetime(df_csv_sub21.product_date)

# merge 
dfm = pd.merge(df21, df_csv_sub21, how='inner', on = None, left_on = 'dt_of_issue', right_on = 'product_date')
dfm['Var'] = dfm.iloc[:,1].astype(float) - dfm.iloc[:,3]
dfm['Equal'] = dfm.iloc[:,1].astype(float).eq(dfm.iloc[:,3])

In [ ]:
Ptbl = 'P0021'
print(sql + f'\n **P table {Ptbl}** sql to compare to Airtyx CSV columns... \n')
print(csv_cols)

print('\n **START VARIANCES *************** \n *********************************')

print(dfm[dfm['Var'].abs() > .00001])
print('\n **END VARIANCES ***************** \n *********************************')

print('\n BASIC STATS \n')
print( 'dt_of_issue.min() = ' + str(dfm.dt_of_issue.min()) )
print( 'dt_of_issue.max() = ' + str(dfm.dt_of_issue.max()) )
print(dfm.count())
print('\n DATAFRAME SUMMARY \n')
print(dfm)

In [ ]:

sql22_fin = f"""
SELECT dt_of_issue, sum(yoy_net_revenue_7day) as yoy_net_revenue_7day  
FROM {prj_ds}.P022_Revenue_per_airline 
WHERE dt_of_issue >= '2019-01-01' and dt_of_issue <= '2019-12-31' AND op_carrier IN ('DL') GROUP BY 1
ORDER BY 1
"""

Ptbl = 'P0022'
sql = sql22_fin
csv_cols = ['Product Code', 'DLWWWWWEKALLDNRY']

#  run the qry against the active GoogleSDK project
df22 = bqh.run_qry(sql)
# .notnull() filter not needed because no Delivery Month
df22.dt_of_issue = pd.to_datetime(df22.dt_of_issue)

# get the equivalent column(s) from the CSV file
df_csv_sub22 = df_csv[csv_cols]
df_csv_sub22.columns = df_csv_sub22.columns.droplevel()
df_csv_sub22.columns = ['product_date', df_csv_sub22.iloc[:,1].name]

# error A value is trying to be set on a copy of a slice from a DataFrame.
# HOWEVER, bogus error, works anyway, code_kata nb on personal laptop has the method to switch this off
df_csv_sub22.product_date = pd.to_datetime(df_csv_sub22.product_date)

# merge could be done using index because no Delivery Month, but in case outer join issues, preferable to join by date
dfm = pd.merge(df22, df_csv_sub22, how='outer', on = None, left_on = 'dt_of_issue', right_on = 'product_date')
dfm['Var'] = dfm.iloc[:,1].astype(float) - dfm.iloc[:,3]
dfm['Equal'] = dfm.iloc[:,1].astype(float).eq(dfm.iloc[:,3])

In [ ]:
dfm = pd.merge(df22, df_csv_sub22, how='outer', on = None, left_on = 'dt_of_issue', right_on = 'product_date')
dfm['Var'] = dfm.iloc[:,1].astype(float) - dfm.iloc[:,3]
dfm['Equal'] = dfm.iloc[:,1].astype(float).eq(dfm.iloc[:,3])

In [ ]:
Ptbl = 'P0022'
print(sql + f'\n **P table {Ptbl}** sql to compare to Airtyx CSV columns... \n')
print(csv_cols)

print('\n **START VARIANCES *************** \n *********************************')

print(dfm[dfm['Var'].abs() > .00001])
print('\n **END VARIANCES ***************** \n *********************************')

print('\n BASIC STATS \n')
print( 'dt_of_issue.min() = ' + str(dfm.dt_of_issue.min()) )
print( 'dt_of_issue.max() = ' + str(dfm.dt_of_issue.max()) )
print(dfm.count())
print('\n DATAFRAME SUMMARY \n')
print(dfm)